/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(55, 81, 126);
  background: linear-gradient(
    90deg,
    rgba(55, 81, 126, 0.8) 0%,
    rgba(55, 81, 126, 0.8) 100%
  );
}
.titulo {
  font-family: "Passero One", cursive;
  text-align: center;
}
